/* App colours */


/*
Primary Color: Indigo 500: #3F51B5
Lighter Primary Indigo 300: #7986CB
Darker Primary Indigo 800: #283593
Accent Color: Orange A400: #FF9100
Accent lighter colors: Orange 300:#FFB74D
Accent Darker color: Orange 800: #EF6C00
 #FF9800

 https://material.io/color/#!/?view.left=1&view.right=0&primary.color=3f50b5&secondary.color=FF9100
 */


/*Operation Founder CSS*/

.secondaryColorButton {
    background-color: #FF9100;
}

.secondaryColorButton:active {
    background-color: #FF9100;
}

.primaryColor {
    color: #3F51B5;
}

.secondaryColor {
    color: #FF9100;
}


/* Title Bar */

.syncTitle {
    position: relative;
    overflow: hidden;
    height: 100%;
    /* width: 300px; */
    word-wrap: break-word;
}

.mainTitle {
    /* height: 50%; */
    /* vertical-align: middle; */
    /* position: absolute; */
    font-size: 18px;
    text-overflow: ellipsis;
    /* line-height: 50%; */
    margin: 0px;
    padding-top: 8px;
}

.lastSync {
    /* height: 50%; */
    /* position: absolute; */
    font-size: 12px;
    /* top: 13px; */
    font-weight: normal;
    text-transform: lowercase;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    margin-top: -6px;
}


/*signIn page*/

.input70perWidth {
    width: 70%;
    max-width: 300px;
}

.bottomDiv {
    background-color: #283593;
    color: #fff;
    padding-right: 16px;
}

.maxWidth {
    max-width: 400px;
}

.asUsedByLogo {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.logoBackground {
    padding: 32px 16px 0px
}

@media screen and (min-width: 650px) {
    .logoBackground {
        width: 100%;
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 32px 0px 32px;
    }
    .signInFormDiv {
        min-width: 300px;
        width: 40%;
        max-width: 400px;
        float: right;
        background-color: #fff;
        padding: 0px 0px 16px 16px;
    }
    .asUsedByLogo {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 0px auto 0px 16px;
    }
}


/*sign Up page*/

.text-input--underbar:invalid {
    border-bottom: 0px solid #ff0000;
}


/*LoginPage*/

.fullWidthInput {
    width: 100%;
}

.pageDiv {
    /*
    position: absolute;

    left: 16px;
    right: 16px;
    z-index: 2;
*/
    padding: 0px 16px;
    /*background: #ccc;*/
}

.loginLogo {
    max-height: 25vh;
    width: auto;
    height: auto;
    max-width: 100%;
    /* width: 100%;
    max-width: 800px; */
    display: block;
    margin: auto;
}

#baseSelectDialog {
    padding: 16px;
}

#evtVersion {
    position: absolute;
    font-size: 12px;
    right: 16px;
    top: 0px;
}


/*Cards*/

.card {
    /* display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; 
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    /* min-height: 200px; */
    overflow: hidden;
    /* width: 330px; */
    z-index: 1;
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    box-sizing: border-box;
}

.cardMediaDiv {
    width: 100%;
}

.cardMedia {
    width: 100%;
    max-height: 20vh;
    margin: auto;
    /* max-width: 150px; */
    text-align: center;
    display: block;
}

.cardTRButton {
    position: absolute;
    right: 16px;
    top: 16px;
}

.cardIconButton {
    width: 36px;
    height: 32px;
    border-radius: 50%;
    font-size: 24px;
    /* height: 32px; */
    margin-left: 0;
    margin-right: 0;
    /* min-width: 32px; */
    padding: 0;
    overflow: hidden;
    color: #000;
}

.evtInstructionsShow {
    position: absolute;
    right: 16px;
}

#createNewEvent {
    color: rgba(0, 0, 0, 0.54);
}

#createNewEvent i {
    width: 100%;
    font-size: 5rem;
    text-align: center;
}

#createNewEvent .title {
    font-size: 2rem;
    text-align: center;
    margin: 16px auto;
}


/* .cardIconButton .ripple {
    width: 36px;
    height: 36px;
} */


/* eventSelectionPage.html */

#createNewEvent {
    padding: 16px 0px;
}

.eventTitle {
    font-weight: bold;
    margin-bottom: 8px;
    padding: 8px;
    /* background: #7986CB; */
    /* background: #EF6C00; */
    background: #283593;
    /* background: #3F51B5 !important; */
    color: #fff;
}

#eventSelectionPage .page__content {
    background-color: #EDEDED !important;
}


/*flex*/

.flex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexAlignFlexStart {
    align-items: flex-start;
}

.flexAlignCenter {
    align-items: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexJustifyCenter {
    justify-content: center;
}


/*create Event page*/

.eventItemTitle {
    flex: auto;
    text-align: left;
}

.eventItemCaption {
    align-self: flex-end;
    text-align: left;
    /*    flex:0, auto;*/
}

.eventItemSwitch {
    flex: 1, 1, auto;
    text-align: right;
}

.eventItemSpacer {
    width: 90px;
    flex: auto;
    height: 100%
}

.bigEventSetUpButtons .ripple {
    z-index: -10;
}


/* .maxScore {
    flex: auto;
}

.maxScoreInput {
    flex: auto;
    text-align: right;
} */

#createEventPage .baseSetUp .caption {
    text-align: left;
}

.addBaseButton {
    background-color: #FF9100;
}

#eventBannerInputLabel {
    width: 100%;
    max-height: 300px;
}


/*Page 1*/

#p1TopHalf {
    /*height: 50%;*/
    width: 100%;
}

#p1BottomHalf {
    width: 100%;
}

.quickAddInput {
    width: 200px;
    max-width: 100%;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.chevron {
    font-size: 26px;
}

.baseInstructions {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    padding: 8px 16px 8px 24px;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    background-color: rgba(255, 183, 77, 0.15);
}

.logOffRouteFalse {
    display: none;
}

@media screen and (min-width: 768px) {
    .quickAddInput {
        width: 400px;
    }
}

@media screen and (min-width:992px) {
    .quickAddInput {
        width: 600px;
    }
}

@media screen and (min-width:1200px) {
    .quickAddInput {
        width: 850px;
    }
}

#fullEditFab {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

#submitQuick {
    margin-right: 16px;
}

#cancelSubmitQuick {
    background-color: #fff;
    color: #000;
    /*    opacity: 0.7;*/
    /*    border: solid 1px;*/
    margin-right: 16px;
}

.logTable {
    width: 100%;
}

.mdl-data-table {
    border: none;
}

.ad-log--or {
    background: rgba(255, 183, 77, 0.25);
}

.offlineMessage {
    color: #a30d0d;
    text-align: center;
}

.offlineMessageMap {
    color: #a30d0d;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999999;
}

.participantRef {
    text-transform: capitalize;
}


/* -- Admin Page -- */

.lockedLog {
    /*
    background-color: #000;
    opacity: 0.26;
*/
    color: rgba(0, 0, 0, 0.26);
    /*
    background-image: url(../img/hq-lock_white.png);
    background-repeat: no-repeat;
    background-position: left;
*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.padlockLocked {
    width: 16px;
    background-image: url(../img/hq-lock.png);
    background-repeat: no-repeat;
    background-position: left;
}

.tableSelected {
    background-color: #3F51B5;
    color: #fff;
    /*background-color: #FFB74D;*/
}

.logTable thead th,
#logsTable td,
#adminLogsTable td,
#lastSeenTable td,
#leaderboardTable td {
    text-align: center;
}

@media(hover:hover) {
    .mdl-data-table tbody tr:hover {
        background-color: #7986CB;
        color: #fff;
    }
}

#patrolSearchInput {
    width: 100%;
    max-width: 20vw;
    margin-left: 16px;
    /* margin-right: 16px; */
}

#patrolSearchInput .text-input--material {
    color: #fff;
    background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.5) 1px);
}

#patrolSearchInput .text-input--material__label {
    color: rgb(255, 255, 255);
}

#adminPage .right {
    max-width: 100%;
}


/*.mdl-data-table th:first-of-type,
.mdl-data-table td:first-of-type {
        padding-left: px;
}*/

.mdl-data-table td,
.mdl-data-table th {
    padding-left: 16px;
    padding-right: 16px;
    text-align: right;
}

.mdl-data-table th:last-of-type,
.mdl-data-table td:last-of-type,
.mdl-data-table th:first-of-type,
.mdl-data-table td:first-of-type {
    padding-right: 16px;
}


/* Event Summary */

#evtSummaryEvtUser {
    margin-top: 16px;
    /* border: 1px #000 solid; */
    background-color: #7986CB;
    /* background-color: #3F51B5; */
    /* background-color: #002984; */
    background-color: #FF9100;
    /* background-color: #FFB74D; */
    /* background-color: #EF6C00; */
    color: #fff;
    /* color: #000; */
    border-radius: 3px;
}

#evtSummaryEvtUserContents {
    padding: 8px 16px;
    font-size: 14px;
    -webkit-user-select: text;
    /* Chrome all / Safari all */
    -moz-user-select: text;
    /* Firefox all */
    -ms-user-select: text;
    /* IE 10+ */
    user-select: text;
}

#evtSummaryEvtUserContents .caption {
    margin-top: 8px;
}

#evtSummaryBases,
#evtSummaryEvtDetails,
#evtSummaryAdminDetails {
    margin-left: 8px;
}

.evtSummaryBasesTitle {
    margin-bottom: 6px;
    margin-top: 16px;
    font-size: 15px;
}


/* --- Message CSS --- */


/* .messagesIcon {
    
} */

#scrollToBottomFab {
    bottom: 85px;
}

#scrollToBottomFab ons-icon {
    vertical-align: middle;
}

#messagesPage .page__content {
    border: none;
    bottom: 56px;
}

.newMessages {
    color: #FF9100;
}

.messageBadge {
    background-color: rgba(255, 145, 0, 0.85);
    padding: 2px 2px;
    border-radius: 3px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 12px;
}

#scrollMessageBadge {
    position: fixed;
    bottom: 58px;
    right: 6px;
    top: auto;
}


/* #messagesPage .page__background {
    background-color: #EF6C00 !important;
    background-color: red !important;
} */

#messageWindow {
    margin-top: 16px;
    margin-bottom: 15px;
    position: relative;
}

#messageInputToolbar {
    height: 56px;
}

.messageInputArea {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(40, 53, 147, 0.5);
}

.messageInputContainer {
    margin: 9px 55px 9px 8px;
    font-size: 15px;
    line-height: 20px;
    /* width: 90vw; */
    border-radius: 25px;
    background-color: #fff;
    /* border: 1px solid #000; */
    /* box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13); */
    /* box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4); */
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

#messageInput {
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 4px 16px;
    font-weight: normal;
    max-height: 100px;
    min-height: 20px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    padding-right: 2px;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    /* border-left: 0.1px solid transparent; */
    -webkit-user-select: text;
    /* Chrome all / Safari all */
    -moz-user-select: text;
    /* Firefox all */
    -ms-user-select: text;
    /* IE 10+ */
    user-select: text;
}

#sendMessage {
    position: absolute;
    right: 8px;
    top: 9px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.13); */
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

#sendMessage i {
    position: absolute;
    right: 7px;
    top: 8px;
}

.placeholder {
    padding-top: 12px;
    margin: 4px 24px;
    font-weight: normal;
    font-size: 15px;
    /* min-height: 30px; */
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    /* position: relative; */
    white-space: pre-wrap;
    word-wrap: break-word;
    z-index: 1;
    border-left: 0.1px solid transparent;
}

.msg {
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
    /* margin-bottom: 12px; */
    display: block;
    clear: both;
    overflow: hidden;
    height: 100%;
}

.msg.msg-continuation {
    margin-bottom: 2px;
}

.message-in,
.message-out {
    border-radius: 7.5px;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    max-width: 90%;
    /* cursor: text;
    white-space: pre-wrap;
    overflow: hidden; */
}

.message-out {
    background-color: #dcf8c6;
    float: right;
}

.message-in {
    /* background-color: #fff; */
    /* background-color: lightblue; */
    /* background-color: rgba(0, 0, 0, 0.05); */
    background-color: #efefef;
    float: left;
}

.tail.message-out {
    border-top-left-radius: 7.5px;
    border-top-right-radius: 0px;
}

.tail.message-in {
    border-top-left-radius: 0px;
    border-top-right-radius: 7.5px;
}

.message-text {
    font-size: 13.6px;
    line-height: 19px;
    word-wrap: break-word;
    color: #262626;
    cursor: text;
    white-space: pre-wrap;
    overflow: hidden;
}

.message-text::after {
    content: " \00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
    display: inline;
}

.bubble {
    padding: 6px 9px 8px 7px;
    min-width: 110px;
    box-sizing: border-box;
    margin-bottom: 12px;
}

.dateBubble {
    background-color: rgba(255, 183, 77, 0.8);
    border-radius: 7.5px;
    border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    position: relative;
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
    max-width: 90%;
    width: fit-content;
    min-width: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 11.6px;
    line-height: 19px;
    word-wrap: break-word;
    color: #262626;
    cursor: text;
    white-space: pre-wrap;
    overflow: hidden;
    font-weight: bold;
}

.msgContinued {
    margin-top: -8px;
}

.message-out.tail.bubble:after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #dcf8c6;
    border-right: 0;
    border-top: 0;
    margin-top: -10px;
    margin-right: -7px;
}

.message-in.tail.bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    /* border-right-color: lightblue; */
    /* border-right-color: rgba(0, 0, 0, 0.05); */
    border-right-color: #efefef;
    /*#fff;*/
    border-left: 0;
    border-top: 0;
    margin-top: -10px;
    margin-left: -7px;
}

.msgTimeStamp {
    color: rgba(0, 0, 0, 0.45);
    font-size: 11px;
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
}

.bubble-text-meta {
    position: absolute;
    bottom: 3px;
    right: 7px;
}

.msgFrom {
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
}

.color-1 {
    color: #35cd96 !important
}

.color-2 {
    color: #6bcbef !important
}

.color-3 {
    color: #e542a3 !important
}

.color-4 {
    color: #91ab01 !important
}

.color-5 {
    color: #ffa97a !important
}

.color-6 {
    color: #1f7aec !important
}

.color-7 {
    color: #dfb610 !important
}

.color-8 {
    color: #029d00 !important
}

.color-9 {
    color: #8b7add !important
}

.color-10 {
    color: #fe7c7f !important
}

.color-11 {
    color: #ba33dc !important
}

.color-12 {
    color: #59d368 !important
}

.color-13 {
    color: #b04632 !important
}

.color-14 {
    color: #fd85d4 !important
}

.color-15 {
    color: #8393ca !important
}

.color-16 {
    color: #ff8f2c !important
}

.color-17 {
    color: #a3e2cb !important
}

.color-18 {
    color: #b4876e !important
}

.color-19 {
    color: #c90379 !important
}

.color-20 {
    color: #ef4b4f !important
}


/* General functions */

.copyableArea {
    -webkit-user-select: text;
    /* Chrome all / Safari all */
    -moz-user-select: text;
    /* Firefox all */
    -ms-user-select: text;
    /* IE 10+ */
    user-select: text;
}

*::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.08);
}


/* Text styles */

h1 {
    font-size: 20px;
    font-weight: 700;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
}

.caption {
    font-size: 12px;
}

.h3NoStyling {
    font-size: 14px;
    font-weight: 400;
}

.txtCenter {
    text-align: center !important;
}

.txtRight {
    text-align: right !important;
}

.txtLeft {
    text-align: left !important;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold !important;
}

.borderBottom {
    border-bottom: thin solid #ccc;
}

.sentanceCase {
    text-transform: lowercase;
}

.sentanceCase:first-letter {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.keepAsWritten {
    text-transform: none;
}


/*element styles*/

.marginAuto {
    margin: auto;
}

.marginRight {
    margin-right: 16px;
}

.marginLeft {
    margin-left: 16px;
}

.marginTop {
    margin-top: 16px;
}

.marginTop32px {
    margin-top: 32px;
}

.marginBottom {
    margin-bottom: 16px;
}

.marginLeftAuto {
    margin-left: auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


/* page indicators */

.pageIndicatorHolder {
    /*position: absolute;*/
    width: 100%;
    /*bottom: 16px;*/
    margin: 0 auto 16px;
    align-self: center;
    display: flex;
    justify-content: center;
    /*    align-items:flex-end;*/
}

.pageIndicator {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #000;
}

.pIActive {
    opacity: 0.4;
    margin-left: 1px;
    margin-right: 1px;
}

.pIDeactive {
    opacity: 0.1;
    margin-left: 1px;
    margin-right: 1px;
}


/* General OnsenUI CSS */

.text-page {
    position: absolute;
    left: 16px;
    right: 16px;
}

.navigation-bar__title {
    /* text-transform: lowercase; */
    text-transform: capitalize;
}


/*
.navigation-bar__title:first-letter {
    text-transform: uppercase;
} */


/* alerts */

.alert-dialog-mask--material {
    background-color: rgba(0, 0, 0, 0.6);
}

.dialog {
    max-height: 80vh;
    overflow-y: auto;
    max-width: 70vw;
    overflow-x: hidden;
}


/* --- MAP AREA --- */


/* The #map and body settings allow the map to not have a scroll bar and remain full screen at all times, the map z-index can be changed but do not change the other settings */

#map {
    height: 100%;
    width: 100%;
    z-index: -1;
}


/* body {
    height: 100vh;
    width: 100vw;
} */


/* --- Menu Styling ---*/

#menu {
    width: 80%;
    max-width: 295px;
}

.menuShadow {
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.12), 2px 0px 2px rgba(0, 0, 0, 0.24);
}

ons-splitter-mask {
    background-color: rgba(0, 0, 0, 0.3);
}

.menuTopBox {
    width: 100%;
    height: 100px;
}

.menuTopBoxContent {
    width: 100%;
}


/* --- Search Bar ---*/

.topBar {
    position: fixed;
    top: 15px !important;
    width: 90%;
    margin: auto;
    border: 1px;
    border-color: #000;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 1;
    background-size: 100% 0px;
}

.navigation-bar--material__center:last-child {
    margin: 0px;
}

#menuDiv {
    width: auto;
}

.androidMenuIcon {
    color: #000;
    opacity: 0.54;
    margin: 0px !important;
}

.menuButton {
    padding: 0px 16px 0px 16px;
}

.searchBar {
    border: 0px;
    font-size: 1em;
    width: 50px;
}

.clearSearchBar {
    padding: 0px 16px 0px 16px;
}


/* --- FAB BUTTONS --- */

#fabLocate {
    background-color: #fff;
    border: 0px solid currentColor;
    z-index: 99999;
}

.secondaryFab {
    background-color: rgba(255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.7);
}


/*The fab settings define the fab button's location */


/*.fab {
    right: 16px;
    top: auto;
    left: auto;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fabIcon {
    vertical-align: 0%;
}

#fabLocate {
    bottom: 88px;
    background-color: #fff;
    border: 0px solid currentColor;
}

#fabPark {
    bottom: 16px;
}*/


/* These settings define the fab icon's locations to align them centrally*/

.locateNotSelected {
    color: #000;
    opacity: 0.3;
}

.locateSelected {
    color: dodgerblue;
}


/* Loader */

.progressBar {
    /*to stay reletive to its parent but not move the page down when shown*/
    position: absolute;
    z-index: 99999;
    top: 0px;
    left: 0px;
    right: 0px;
}

#adminPage .progressBar {
    top: 50px;
}

.circle-loader {
    fill: transparent;
    stroke: #FF9100;
    margin: auto;
    padding: 5px;
    stroke-width: 5;
    animation: dash 2.2s ease infinite, rotate 2.2s linear infinite;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 95;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -20;
    }
    100% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -93;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* @keyframes dash {
    0% {
        stroke-dasharray: 5, 95;
        stroke-dashoffset: 5;
    }
    50% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -30;
    }
    100% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -47;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

.circle-loader-container {
    position: absolute;
    width: 100%;
    top: 80px;
    margin: 0 auto;
    align-self: center;
    display: flex;
    justify-content: center;
    /*    z-index: -10;*/
}

#messagesPage .circle-loader-container {
    position: static;
    margin-top: 16px;
    z-index: 99999;
}

.circle-loader-background {
    /*    position: absolute;*/
    /*    left:48%;*/
    width: 50px;
    height: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: #fff;
    /*
    border: 1px;
    border-color: #ccc;
*/
    /*    z-index: 999999;*/
    /*    border-style: solid;*/
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.16), 0 1px 4px 1px rgba(0, 0, 0, 0.23);
}


/* Leaderboard */


/* Generic Styles */

.hide {
    display: none;
}

.fixed {
    position: fixed;
}

.roundedCorners {
    border-radius: 2px;
}

.test {
    background-color: red;
    height: auto;
    width: 100%;
    top: 100px;
    position: absolute;
    display: block;
}


/* Bing Logo CSS */

.bingLogo {
    z-index: 9999999;
    position: absolute;
    bottom: 5px;
    left: 5px;
}


/* Map pin CSS */

.trackerPin {
    z-index: 3;
    background-color: white;
    text-align: center;
    font-size: 10px;
    width: auto;
    min-width: 50px;
}


/*--Update Page--*/

#updateEventUpdate {
    width: 100vw;
    height: 40vh;
    font-size: 40vh;
    text-align: center;
    vertical-align: middle;
    color: #FFB74D;
}

.updateFiller {
    width: 100vw;
    height: 30vh;
}