/* App colours */


/*
Primary Color: Indigo 500: #3F51B5
Lighter Primary Indigo 300: #7986CB
Darker Primary Indigo 800: #283593
Accent Color: Orange A400: #FF9100
Accent lighter colors: Orange 300:#FFB74D
Accent Darker color: Orange 800: #EF6C00
 #FF9800
 */


/*Operation Founder CSS*/

.secondaryColorButton {
    background-color: #FF9100;
}

.secondaryColorButton:active {
    background-color: #FF9100;
}

.primaryColor {
    color: #3F51B5;
}

.secondaryColor {
    color: #FF9100;
}


/*signIn page*/

.input70perWidth {
    width: 70%;
    max-width: 300px;
}

.bottomDiv {
    background-color: #283593;
    color: #fff;
    padding-right: 16px;
}

.maxWidth {
    max-width: 400px;
}

.asUsedByLogo {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: auto;
}

.logoBackground {
    padding: 32px 16px 0px
}

@media screen and (min-width: 650px) {
    .logoBackground {
        width: 100%;
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 32px 0px 32px;
    }
    .signInFormDiv {
        min-width: 300px;
        width: 40%;
        max-width: 400px;
        float: right;
        background-color: #fff;
        padding: 0px 0px 16px 16px;
    }
    .asUsedByLogo {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 0px auto 0px 16px;
    }
}


/*sign Up page*/

.text-input--underbar:invalid {
    border-bottom: 0px solid #ff0000;
}


/*LoginPage*/

.fullWidthInput {
    width: 100%;
}

.pageDiv {
    /*
    position: absolute;

    left: 16px;
    right: 16px;
    z-index: 2;
*/
    padding: 0px 16px;
    /*background: #ccc;*/
}

.loginLogo {
    max-height: 25vh;
    width: auto;
    height: auto;
    max-width: 100%;
    /* width: 100%;
    max-width: 800px; */
    display: block;
    margin: auto;
}

#baseSelectDialog {
    padding: 16px;
}


/*flex*/

.flex {
    display: flex;
}

.flexRow {
    flex-direction: row;
}

.flexColumn {
    flex-direction: column;
}

.flexWrap {
    flex-wrap: wrap;
}

.flexAlignFlexStart {
    align-items: flex-start;
}

.flexAlignCenter {
    align-items: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.flexJustifyCenter {
    justify-content: center;
}


/*create Event page*/

.eventItemTitle {
    flex: auto;
    text-align: left;
}

.eventItemCaption {
    align-self: flex-end;
    text-align: left;
    /*    flex:0, auto;*/
}

.eventItemSwitch {
    flex: 1, 1, auto;
    text-align: right;
}

.eventItemSpacer {
    width: 90px;
    flex: auto;
    height: 100%
}

.bigEventSetUpButtons .ripple {
    z-index: -10;
}

.maxScore {
    flex: auto;
}

.maxScoreInput {
    flex: auto;
    text-align: right;
}

.addBaseButton {
    background-color: #FF9100;
}

#eventBannerInputLabel {
    width: 100%;
    max-height: 300px;
}


/*Page 1*/

.topHalf {
    /*height: 50%;*/
    width: 100%;
}

.bottomHalf {
    width: 100%;
}

.quickAddInput {
    width: 200px;
    max-width: 100%;
}

.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

.logOffRouteFalse {
    display: none;
}

@media screen and (min-width: 768px) {
    .quickAddInput {
        width: 400px;
    }
}

@media screen and (min-width:992px) {
    .quickAddInput {
        width: 600px;
    }
}

@media screen and (min-width:1200px) {
    .quickAddInput {
        width: 850px;
    }
}

#fullEditFab {
    position: fixed;
    bottom: 16px;
    right: 16px;
}

#submitQuick {
    margin-right: 16px;
}

#cancelSubmitQuick {
    background-color: #fff;
    color: #000;
    /*    opacity: 0.7;*/
    /*    border: solid 1px;*/
    margin-right: 16px;
}

.logTable {
    width: 100%;
}

.ad-log--or {
    background: rgba(255, 183, 77, 0.25);
}

.offlineMessage {
    color: #a30d0d;
    text-align: center;
}

.offlineMessageMap {
    color: #a30d0d;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 999999;
}


/* -- Admin Page -- */

.lockedLog {
    /*
    background-color: #000;
    opacity: 0.26;
*/
    color: rgba(0, 0, 0, 0.26);
    /*
    background-image: url(../img/hq-lock_white.png);
    background-repeat: no-repeat;
    background-position: left;
*/
}

.padlockLocked {
    width: 16px;
    background-image: url(../img/hq-lock.png);
    background-repeat: no-repeat;
    background-position: left;
}

.tableSelected {
    background-color: #3F51B5;
    color: #fff;
    /*background-color: #FFB74D;*/
}

@media(hover:hover) {
    .mdl-data-table tbody tr:hover {
        background-color: #7986CB;
        color: #fff;
    }
}

#patrolSearchInput {
    width: 100%;
    max-width: 85%;
    margin-left: 16px;
    margin-right: 16px;
}

#patrolSearchInput .text-input--material {
    color: #fff;
    background-image: linear-gradient(to top, transparent 1px, rgba(255, 255, 255, 0.5) 1px);
}

#patrolSearchInput .text-input--material__label {
    color: rgb(255, 255, 255);
}


/*.mdl-data-table th:first-of-type,
.mdl-data-table td:first-of-type {
        padding-left: px;
}*/

.mdl-data-table td,
.mdl-data-table th {
    padding-left: 16px;
    padding-right: 16px;
    text-align: right;
}

.mdl-data-table th:last-of-type,
.mdl-data-table td:last-of-type {
    padding-right: 16px;
}


/* Text styles */

h1 {
    font-size: 20px;
    font-weight: 700;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 14px;
}

.caption {
    font-size: 12px;
}

.h3NoStyling {
    font-size: 14px;
    font-weight: 400;
}

.txtCenter {
    text-align: center;
}

.txtRight {
    text-align: right;
}

.txtLeft {
    text-align: left;
}

.relative {
    position: relative;
}

.bold {
    font-weight: bold !important;
}

.borderBottom {
    border-bottom: thin solid #ccc;
}

.sentanceCase {
    text-transform: lowercase;
}

.sentanceCase:first-letter {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.keepAsWritten {
    text-transform: none;
}


/*element styles*/

.marginAuto {
    margin: auto;
}

.marginRight {
    margin-right: 16px;
}

.marginLeft {
    margin-left: 16px;
}

.marginTop {
    margin-top: 16px;
}

.marginTop32px {
    margin-top: 32px;
}

.marginBottom {
    margin-bottom: 16px;
}

.marginLeftAuto {
    margin-left: auto;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


/* page indicators */

.pageIndicatorHolder {
    /*position: absolute;*/
    width: 100%;
    /*bottom: 16px;*/
    margin: 0 auto 16px;
    align-self: center;
    display: flex;
    justify-content: center;
    /*    align-items:flex-end;*/
}

.pageIndicator {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #000;
}

.pIActive {
    opacity: 0.4;
    margin-left: 1px;
    margin-right: 1px;
}

.pIDeactive {
    opacity: 0.1;
    margin-left: 1px;
    margin-right: 1px;
}


/* General OnsenUI CSS */

.text-page {
    position: absolute;
    left: 16px;
    right: 16px;
}

.navigation-bar__title {
    /* text-transform: lowercase; */
    text-transform: capitalize;
}


/*
.navigation-bar__title:first-letter {
    text-transform: uppercase;
} */


/* alerts */

.alert-dialog-mask--material {
    background-color: rgba(0, 0, 0, 0.6);
}


/* --- MAP AREA --- */


/* The #map and body settings allow the map to not have a scroll bar and remain full screen at all times, the map z-index can be changed but do not change the other settings */

#map {
    height: 100%;
    width: 100%;
    z-index: -1;
}

body {
    height: 100vh;
    width: 100vw;
}


/* --- Menu Styling ---*/

#menu {
    width: 80%;
    max-width: 295px;
}

.menuShadow {
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.12), 2px 0px 2px rgba(0, 0, 0, 0.24);
}

ons-splitter-mask {
    background-color: rgba(0, 0, 0, 0.3);
}

.menuTopBox {
    width: 100%;
    height: 100px;
}

.menuTopBoxContent {
    width: 100%;
}


/* --- Search Bar ---*/

.topBar {
    position: fixed;
    top: 15px !important;
    width: 90%;
    margin: auto;
    border: 1px;
    border-color: #000;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 1;
    background-size: 100% 0px;
}

.navigation-bar--material__center:last-child {
    margin: 0px;
}

#menuDiv {
    width: auto;
}

.androidMenuIcon {
    color: #000;
    opacity: 0.54;
    margin: 0px !important;
}

.menuButton {
    padding: 0px 16px 0px 16px;
}

.searchBar {
    border: 0px;
    font-size: 1em;
    width: 50px;
}

.clearSearchBar {
    padding: 0px 16px 0px 16px;
}


/* --- FAB BUTTONS --- */

#fabLocate {
    background-color: #fff;
    border: 0px solid currentColor;
    z-index: 99999;
}


/*The fab settings define the fab button's location */


/*.fab {
    right: 16px;
    top: auto;
    left: auto;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.fabIcon {
    vertical-align: 0%;
}

#fabLocate {
    bottom: 88px;
    background-color: #fff;
    border: 0px solid currentColor;
}

#fabPark {
    bottom: 16px;
}*/


/* These settings define the fab icon's locations to align them centrally*/

.locateNotSelected {
    color: #000;
    opacity: 0.3;
}

.locateSelected {
    color: dodgerblue;
}


/* Loader */

.progressBar {
    /*to stay reletive to its parent but not move the page down when shown*/
    position: absolute;
    z-index: 99999;
    top: 0px;
    left: 0px;
    right: 0px;
}

.circle-loader {
    fill: transparent;
    stroke: #FF9100;
    stroke-width: 10%;
    animation: dash 2.2s ease infinite, rotate 2.2s linear infinite;
}

@keyframes dash {
    0% {
        stroke-dasharray: 5, 95;
        stroke-dashoffset: 5;
    }
    50% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -30;
    }
    100% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -47;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.circle-loader-container {
    position: absolute;
    width: 100%;
    top: 20%;
    margin: 0 auto;
    align-self: center;
    display: flex;
    justify-content: center;
    /*    z-index: -10;*/
}

.circle-loader-background {
    /*    position: absolute;*/
    /*    left:48%;*/
    width: 30px;
    height: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #fff;
    /*
    border: 1px;
    border-color: #ccc;
*/
    /*    z-index: 999999;*/
    /*    border-style: solid;*/
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.16), 0 1px 6px 1px rgba(0, 0, 0, 0.23);
}


/* Generic Styles */

.hide {
    display: none;
}

.fixed {
    position: fixed;
}

.roundedCorners {
    border-radius: 2px;
}

.test {
    background-color: red;
    height: auto;
    width: 100%;
    top: 100px;
    position: absolute;
    display: block;
}


/* Bing Logo CSS */

.bingLogo {
    z-index: 9999999;
    position: absolute;
    bottom: 5px;
    left: 5px;
}


/* Map pin CSS */

.trackerPin {
    z-index: 3;
    background-color: white;
    text-align: center;
    font-size: 10px;
    width: auto;
    min-width: 50px;
}


/*--Update Page--*/

#updateEventUpdate {
    width: 100vw;
    height: 40vh;
    font-size: 40vh;
    text-align: center;
    vertical-align: middle;
    color: #FFB74D;
}

.updateFiller {
    width: 100vw;
    height: 30vh;
}